html, body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(135, 168, 135);
    font-size: 18px;
    color: #313131;
    height: 100vh;
  }
  
  .container {
    border-radius: 8px;
    width: 500px;
    background: #fff;
    padding: 40px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
  }
  
  .heading {
    text-align: center;
    text-transform: uppercase;
  }
  
  .heading_main {
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 5px solid #dfc2c2;
  }
  
  .heading_sub {
    font-size: 18px;
    color:   #777777;
  }
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .dollar-amount, .cent-amount {
    font-family: "Lucida Console", Monaco, monospace;
    height: 50px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    border: 3px solid #dedede;
    border-radius: 50px;
  }
  
  .dollar-amount{
    width: 18.4rem;
  }

  .dollar-amount:focus {
    border: 3px solid #2ecc71;
  }
  
  .cent-amount {
    width: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .convert {
    background: #2ecc71;
    color:  #f5f5f5;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    border: 3px solid #2ecc71;
    border-radius: 50px;
  }
  
  .convert:hover {
    cursor: pointer;
    background: #cc2e89;
    border: 3px solid #cc2e89;
  }

  /* .dollar-box{
    display: flex;
  }
   */
 .cent-box{
  width: 50rem;
  display: flex;
 }

 span{
   font-size: 3rem;
   padding-bottom: 1rem;
 }